{% extends 'app_registro/base.html' %}


{% block content %}
<p>Topico:{{ topico }}</p>
<p>Entrada:</p>
<ul>
    {% for entrada in entradas %}
    <li>
        <p>{{ entrada.data_edicao | date:'M d, Y H:i'}}</p>
        <p>{{ entrada.texto | linebreaks }}</p>
        <p>
            <a href="{% url 'app_registro:editar_entrada' entrada.id %}">Editar entrada</a>
        </p>
    </li>
    {% empty %}
    <li>
        <p>Nenhuma entrada encontrada!</p>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'app_registro:nova_entrada' topico.id %}">Adicionar uma nova entrada</a>
{% endblock content %}